.container-social ul li a img{
  widht:25px;
  height: 25px;
}
.container-social{
  position: fixed;
  top:500px;
  right: 10px;
}
.container-social ul li a {
  display: block;
  border-radius: 20px 0 0px 20px;
  width: 40px;
  margin-bottom: 5px;
	padding: 10px 15px;
  text-decoration: none;
  transition:all 500ms ease;
}
.container-social ul>li>a:hover{
  padding-right: 100px;
}
.container-social ul{
  list-style:none;
 
}
.fb:hover{
  background-color: #3b5998;
}
.instagram:hover{
  background-color: #5851db;
}
.twitter:hover{
    background-color: #00acee;
}
.twitter:hover>img{
  filter: brightness(0) invert(1);
}
.youtube:hover{
   background-color: red;
}
.instagram:hover>img{
  filter: brightness(0) invert(1);
}